@import '~antd/dist/antd.css';

.App {
	padding: 20px;
}

/* antd Overrides */

.editable-cell {
	position: relative;
}

.editable-cell-value-wrap {
	padding: 5px 12px;
	cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	padding: 4px 11px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
	border: 1px solid #434343;
}

.ant-col.ant-col-24.ant-form-item-label {
	padding: 0;
}

.table-bvc-master-filter-input-group .ant-checkbox-group-item.ant-checkbox-wrapper {
	min-width: 110px;
}

.ant-form-item-explain,
.ant-form-item-extra {
	line-height: 1.1;
	font-size: 9px;
	padding-top: 2px;
}
/* Custom */

.icon-btn {
	font-size: 20px;
	padding: 1px 5px;
	cursor: pointer;
	&:hover {
		opacity: 0.6;
	}
}
