@import '~antd/dist/antd.css';

.App {
	padding: 20px;
}

/* antd Overrides */

.editable-cell {
	position: relative;
}

.editable-cell-value-wrap {
	padding: 5px 12px;
	cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	padding: 4px 11px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
	border: 1px solid #434343;
}

.ant-col.ant-col-24.ant-form-item-label {
	padding: 0;
}

.table-bvc-master-filter-input-group .ant-checkbox-group-item.ant-checkbox-wrapper {
	min-width: 110px;
}

.ant-form-item-explain,
.ant-form-item-extra {
	line-height: 1.1;
	font-size: 9px;
	padding-top: 2px;
}

.ag-cell.ag-cell-auto-height.ag-cell-value.ag-cell-focus.ag-cell-inline-editing {
	border: none !important;
	box-shadow: none !important;
	background: transparent !important;
}

.ag-cell.ag-cell-auto-height.ag-cell-value.ag-cell-focus.ag-cell-inline-editing {
	height: 100% !important;
}

.inline-edit-form .ant-row.ant-form-item,
.inline-edit-form.ant-form.ant-form-horizontal,
.inline-edit-form .ant-form-item-control-input,
.inline-edit-form .ant-form-item-control-input-content {
	outline: none !important;
	box-shadow: none !important;
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}

.inline-edit-form .ant-input-affix-wrapper {
	border-color: #eee !important;
	box-shadow: none !important;
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}
/* Custom */

.icon-btn {
	font-size: 20px;
	padding: 1px 5px;
	cursor: pointer;
	&:hover {
		opacity: 0.6;
	}
}
